body {
  background-color: #ffffff;
}

.dropzone {
  border: 4px dashed #e70707;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  width: 80%;
  height: 500px;
}

header {
  background-color: #000000;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.html-viewer {
  margin: 30px;
  border: 1px solid #ddd;
  padding: 10px;
  min-height: 300px;
  max-height: 500px;
  overflow-y: auto;
  white-space: pre-wrap;
  font-family: "Courier New", Courier, monospace;
}

.table1 {
  margin: 30px;
}

.table2 {
  margin: 30px;
}
.summary {
  margin: 30px;
}
.actions {
  margin: 30px;
}

.highlight {
  background-color: yellow;
}

.spinner-container {
  display: flex; /* Встановлює flexbox */
  justify-content: center; /* Горизонтальне вирівнювання */
  align-items: center; /* Вертикальне вирівнювання */
  min-height: 100px; /* Мінімальна висота контейнера */
  margin-top: 100px; /* Відступ зверху */
  margin-bottom: 100px; /* Відступ знизу */
}

.spinnerText {
  margin-right: 50px;
}



.summary {
  margin-top: 20px;
  padding: 10px;
  background-color: #faeeee;
  border-left: 4px solid #e70707;
  border-radius: 4px;
}

.summary h4 {
  margin: 0 0 10px;
  font-size: 18px;
  color: #333;
}

.summary p {
  margin: 0;
  font-size: 16px;
  color: #555;
  line-height: 1.5;
}

.actions {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.actions button {
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
  background-color: #dc3545;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.actions button:hover {
  background-color: #a70000;
}

.actions button:active {
  background-color: #a70000;
}

.actions button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* General Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
}

table th, table td {
  padding: 10px 15px;
  border: 1px solid #ddd;
}

table th {
  background-color: #f4f4f4;
  font-weight: bold;
  color: #333;
}

table tbody tr:nth-child(odd) {
  background-color: #fafafa;
}

table tbody tr:hover {
  background-color: #f1f8ff;
}

/* Table1 Specific Styles */
.table1 th, .table1 td {
  text-align: center;
}

.table1 td button {
  padding: 10px 15px;
  margin-right: 20px;
  font-size: 14px;
  color: #fff;
  background-color: #dc3545;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.table1 td button:hover {
  background-color: #a70000;
}

.table1 td button:active {
  background-color: #a70000;
}

/* Table2 Specific Styles */
.table2 th, .table2 td {
  text-align: left;
}

.table2 td {
  font-weight: normal;
}

.table2 tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.dropzone p {
  margin: 200px;
}

