/*.App {*/
/*  text-align: center;*/
/*  background-color: #804d4d;*/
/*}*/

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/



/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

/*.dropzone {*/
/*  border: 4px dashed #e70707;*/
/*  height: 200px;*/
/*  width: 80%;*/
/*  padding: 20px;*/
/*  text-align: center;*/
/*  margin: 0 auto;*/
/*  cursor: pointer;*/
/*}*/

/*.file-text {*/
/*  background-color: #f9f9f9;*/
/*  padding: 10px;*/
/*  white-space: pre-wrap;*/
/*  font-family: monospace;*/
/*  overflow-x: auto;*/
/*}*/


/*.highlight {*/
/*  background-color: #ffeb3b;*/
/*  border: 1px solid #ffc107;*/
/*}*/

/*header {*/
/*  background-color: black;*/
/*  color: white;*/
/*  padding: 0px;*/
/*  margin-bottom: 30px;*/
/*  height: 80px;*/
/*  text-align: center;*/
/*}*/
/*h1 {*/
/*  margin: 0px;*/
/*  padding: 10px;*/
/*}*/

body {
  background-color: #ffffff;
}

.dropzone {
  border: 4px dashed #e70707;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  width: 80%;
  height: 500px;
}

header {
  background-color: #000000;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.html-viewer {
  margin: 30px;
  border: 1px solid #ddd;
  padding: 10px;
  min-height: 300px;
  max-height: 500px;
  overflow-y: auto;
  white-space: pre-wrap;
  font-family: "Courier New", Courier, monospace;
}

.table1 {
  margin: 30px;
}

.table2 {
  margin: 30px;
}
.summary {
  margin: 30px;
}
.actions {
  margin: 30px;
}

.highlight {
  background-color: yellow;
}

.spinner-container {
  display: flex; /* Встановлює flexbox */
  justify-content: center; /* Горизонтальне вирівнювання */
  align-items: center; /* Вертикальне вирівнювання */
  min-height: 100px; /* Мінімальна висота контейнера */
  margin-top: 100px; /* Відступ зверху */
  margin-bottom: 100px; /* Відступ знизу */
}

.spinnerText {
  margin-right: 50px;
}

